* {
    font-family: 'Joan', serif;
}

body {
    margin: 0;
}

header, footer {
    text-align: center;
}

#not-logged-buttons .nav-ul {
    display: flex;
    justify-content: flex-end;
    background-color: rgba(53, 84, 138, 0.94);
    padding: 1rem 0;
    margin: 0;
}

#logged-buttons .nav-ul {
    display: flex;
    justify-content: flex-start;
    background-color: rgba(53, 84, 138, 0.94);
    padding: 1rem 0;
    margin: 0;
}

#not-logged-buttons .nav-ul .nav-item, #logged-buttons .nav-ul .nav-item {
    list-style-type: none;
}

#not-logged-buttons .nav-ul .nav-item a, #logged-buttons .nav-ul .nav-item a {
    text-decoration: none;
    color: white;
    background-color: rgba(53, 84, 138, 0.33);
    padding: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    /*min-height: 78vh;*/
}

main:not(.album) {
    margin-bottom: 6rem;
}

footer {
    font-size: 1rem;
    position: sticky;
    /*z-index: 1;*/
    background-color: white;
    left: 0;
    bottom: 0;
    width: 100%;
    /*padding-top: 1rem;*/
    border-top: 1px dashed black;

    flex: 0 0 50px;/*or just height:50px;*/
    margin-top: auto;
}

.form {
    margin: 2rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form .invalid-feedback {
    margin-top: 0.5rem;
    color: red;
}

#addedSuccess {
    margin-top: 0.5rem;
    color: green;
}

.collections {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.collections .collection {
    padding: 1rem 1rem;
    margin: 2rem 2rem;
    flex: 0 0 20%;
}

.collections .collection:hover {
    background-color: rgba(53, 84, 138, 0.33);
}

.collection img {
    height: 20rem;
    width: 20rem;
}

.album {
    align-items: center;
    padding-top: 3cm;
    /*padding-bottom: 3cm;*/
}

.album-picture-container-A4 {
    width: 21cm;
    height: 14.85cm;
    margin-right: 4.5cm;
    margin-left: 4.5cm;
    padding: 2.2em;
    /*background: url('./images/film2.png');*/
    /*background-color: rgba(162, 189, 198, 0.73);*/
}

.album-picture-container-A4 .frame {
    height: 30em;
    width: 40em;
    border: 3px solid #eee;
    background: #eee;
    margin: auto;
    padding: 15px 10px;
}

.album-picture-container-A4 .frame img {
    width: 100%;
    height: 100%;
}

button {
    background-color: rgba(53, 84, 138, 0.94);
    border: 1px solid rgba(53, 84, 138, 0.94);
    border-radius: 4px;
    color: white;
    padding: 0.5rem 2rem;
    margin: 1rem;
}

.input-container {
    margin: 0.8rem;
    width: 20rem;
}

.input-container:not(label) {
    width: 10rem;
}

label {
    color: rgba(53, 84, 138, 0.94);
    font-weight: bold;
}
.align {
    margin-bottom: 8rem;
    text-align: center;
}

.error {
    color: red;
}