* {
    font-family: 'Joan', serif;
}

header, footer {
    text-align: center;
}

header nav {
    margin-bottom: 3rem;
}

main {
    margin-bottom: 6rem;
    display: flex;
    flex-direction: column;
    /*min-height: 78vh;*/
}

footer {
    font-size: 1.6rem;
    position: fixed;
    /*z-index: 1;*/
    background-color: white;
    left: 0;
    bottom: 0;
    width: 100%;
    /*padding-top: 1rem;*/
    border-top: 1px dashed black;

    flex: 0 0 50px;/*or just height:50px;*/
    margin-top: auto;
}

.form {
    margin: 2rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form .invalid-feedback {
    margin-top: 0.5rem;
    color: red;
}

.collections {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.collections .collection {
    padding: 1rem 1rem;
    margin: 2rem 2rem;
    flex: 0 0 20%;
    border-radius: 2%;
}

.collections .collection:first-child:hover {
    background-color: darkgray;
}

.collection img {
    height: 20rem;
    width: 20rem;
}

.album {
    align-items: center;
    padding-top: 3cm;
    padding-bottom: 3cm;
}

.album-picture-container-A4 {
    width: 21cm;
    height: 14.85cm;
    margin-right: 4.5cm;
    margin-left: 4.5cm;
    padding: 2.2em;
    background: url('./images/film2.png');
    /*background-color: rgba(162, 189, 198, 0.73);*/
}

.album-picture-container-A4 .frame {
    height: 30em;
    width: 40em;
    border: 3px solid #eee;
    background: #eee;
    margin: auto;
    padding: 15px 10px;
}

.album-picture-container-A4 .frame img {
    width: 100%;
    height: 100%;
}

.print-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}